---
import MainLayout from '@layouts/Layout.astro';

// import About from '@components/About.astro';
import Experience from '@components/Experience.astro';
import Hero from '@components/Hero.astro';
import Projects from '@components/Projects.astro';
import Skills from '@components/Skills.astro';

import brTranslation from '../locales/br/translation.json';
---

<MainLayout language="pt-BR">
	<main class="content-grid">
		<Hero content={brTranslation.hero} />
		<Skills content={brTranslation.skills} />
		<Projects content={brTranslation.projects}/>
		<!-- <About content={brTranslation.about} /> -->
		<Experience content={brTranslation.experiences}/>
	</main>
</MainLayout>
