---
import { Badge } from "./ui/badge";

interface Props {
  content: {
    title: string
    experiences: {
      year: string
      company: string
      time: string
      positions: {
        role: string
        fromTo: string
        description: string
        skills: string[]
      }[]
    }[]
  }
}

const { content } = Astro.props
---

<section id="experience" class="full-width bg-zinc-900 py-10 space-y-4 lg:space-y-10">
  <h2 class="text-center">
    <Badge className="bg-zinc-950 border-zinc-700">{content.title}</Badge>
  </h2>

  {content.experiences.map(experience => (
    <div class="relative lg:h-80 group">
      <div class="relative text-right lg:text-center text-4xl font-bold lg:pt-2 lg:after:content-[''] lg:after:absolute lg:after:top-12 lg:after:left-1/2 lg:after:translate-x-1/2 lg:after:h-80 lg:after:w-px lg:after:bg-slate-50">
        {experience.year}
      </div>
      
      <div class={`flex flex-col space-y-4 mt-4 border-r lg:border-none border-slate-50 lg:absolute lg:top-20 lg:w-[500px] group-odd:right-0`}>
        <div class="flex flex-col items-start lg:grid lg:grid-cols-[140px,_1fr] lg:gap-4">
          <h3 class="text-3xl lg:text-2xl font-bold tracking-tighter text-center">{experience.company}</h3>
  
          <div class="lg:self-center">
            <p class="text-xl tracking-tight">{experience.time}</p>
          </div>
        </div>
        
        {experience.positions.map(position => (
          <div class="lg:grid lg:grid-cols-[140px,_1fr] gap-4">
            <div class="hidden lg:block size-4 mt-1 bg-zinc-400 rounded-full justify-self-center"/>
    
            <div class="space-y-4 pr-2">
              <p class="text-xl font-bold">{position.role} <span class="text-sm font-medium">({position.fromTo})</span></p>
              <p class="text-sm">{position.description}</p>
              <div class="flex flex-wrap gap-2">
                {position.skills.map(skill => (
                  <Badge variant="secondary">{skill}</Badge>
                ))}
              </div>
            </div>
          </div>
        ))}
      </div>
    </div>
  ))}

  <div class="relative text-right lg:text-center text-4xl font-bold pt-2">2018</div>
</section>