---
import { Icon } from 'astro-icon/components';
import { ExternalLink } from 'lucide-react';

// import audioNotesImage from '@assets/audio-notes.jpeg';
// import portifolioImage from '@assets/portifolio.jpeg';
import { Badge } from './ui/badge';

interface Props {
  content: {
    title: string
    projects: {
      name: string
      image: string
      github_url: string
      description: string
      topics: string[]
      homepage: string
    }[]
  }
}


const { content } = Astro.props
---

<style>
  .project:nth-child(odd) .test{
    @apply lg:order-first
  }
</style>

<section id="projects" class="py-10 space-y-8 lg:space-y-10">
  <h2 class="text-center">
    <Badge className="bg-zinc-950 border-zinc-700">{content.title}</Badge>
  </h2>

  {content.projects.map(project => (
    <div class="project grid grid-cols-1 lg:grid-cols-2 items-center lg:items-start bg-zinc-900 rounded-md overflow-hidden">
      <img
        class="bg-zinc-800 p-4 lg:p-8"
        src={project.image}
        alt='project'
      />

      <div class="test w-full flex flex-col gap-4 p-4 lg:p-8 ">
        <div class="flex items-center justify-between">
          <h3 class="text-xl font-semibold">{project.name}</h3>

          <div class="flex items-center gap-4">
            <a href={project.github_url} target="_blank">
              <Icon size={24} name="simple-icons:github"/>
            </a>
  
            <a href={project.homepage} target="_blank">
              <ExternalLink />
            </a>
          </div>
        </div>

        <p>{project.description}</p>

        <div class="flex flex-wrap gap-2">
          {project.topics.map(topic => (
            <Badge variant="secondary">{topic}</Badge>
          ))}
          </div>
      </div>
    </div>
  ))}
</section>